.navbar {
  
  height: 56px;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 10;
}

/*------------------------------------ Left section------------------------------------- */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px; 
}


.navbar-hamburger {
  width: 40px;     
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  color: white;
  font-size: 35px;
}


.navbar-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.yt-icon {
  color: red;
  font-size: 35px;
}

.navbar-youtubetext {
  font-size: 22px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*------------------------ Middle section--------------------*/
.navbar-middle {
  flex: 1;                    /* expand to fill available space */
  display: flex;
  justify-content: center;   
  align-items: center;
  max-width: 700px;          
  gap: 8px;
}


.search-input {
  flex: 1;
  max-width: 600px;
  min-width: 200px;
  height: 36px;
  border: 1px solid #303030;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 0 12px;
  outline: none;
}

.search-input:focus {
  border: 1px solid #1c62b9;
}

/*-------------------------------------- Search and mic btns-------------------------------------- */
.search-btn, .mic-btn {
  height: 36px;
  width: 36px;
  background-color: #222;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-btn {
  border: 1px solid #303030;
}

.search-btn:hover, .mic-btn:hover {
  background-color: #383838;
}

.search-icon, .mic-icon {
  font-size: 20px;
  color: white;
}

/*----------------------------- Right section-------------------------------------  */


.navbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 8px;
}

.video-icon {
  font-size: 26px;
  color: white;
  cursor: pointer;
}
 .bell-icon {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.video-icon:hover,
.bell-icon:hover
 {
  color: #c0c0c0;
}

.user-icon{
   width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
}
.navbar-modal{
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 20;
  color: white;
}
.navbar-modal-option{
  background-color: rgb(85,85,85);
  padding: 7px;
  cursor: pointer;
  &:hover{
    background-color: rgb(34,33,33);
  }
}

 