

.Video-upload{
    padding-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: black;
    color: white;
}
.uploadBox{
    width: 45%;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0.5px 0.5px 8px white;
    padding: 25px;

}
.uploadTitle{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    gap: 5px;
}
.uploadForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}
.upload-Form-Input{
    width: 70%;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    background-color: #222222;
    border: none;
    border-radius: 5px;

}

.uploadBtns{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;

}
.uploadbtn-form{
    padding: 10px 20px;
    border: 1px solid;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover{
        background-color: white;
        color: black;
    }
    
}