.profile{
    margin-top: 50px;
    background-color: black;
    color: white;
    min-height: 50px;
    display: flex;
    width: 100%;
    padding: 10px 13px 0 13px;


}
.profile-page{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
    margin-left: 270px;
    color: white;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

}
.profile-page-inactive{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
    color: white;
    margin-top: 56px;
    justify-content: center;
    align-items: center;
}
.profile-Top{
    width: 100%;
    display: flex;
    padding: 0 0 20px 0;

}
.profileTop-section{
    width: 150px;
    height:150px;
}
.profileTop-img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    
}
.profileTop-sectionAbout{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0 10px;
    width: 85%;
}
.profileTop-secAbt_name{
    font-size: 36px;
    font-weight: 600;
}
.profileTop-secAbt_info{
    font-size: 16px;
    color: rgb(153, 153,153);
}
.profileVideos{
    width: 100%;
}

.profileTitle{
    font-size: 22px;
    padding-bottom: 15px;
    color: rgb(207,206,206);
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(153, 153,153);
}
.profile_video{
    display: flex;
    gap: 10px;
    height: 100vh;
    flex-wrap: wrap;
    margin-top: 20px;
}
.video-block{
    width: 230px;
    cursor: pointer;
    height: 150px;
    color: white;
    text-decoration: none;
}
.video_block_thumbnail{
    width: 100%;
    height: 100%;
}
.video_block_thumbnail_img{
    width: 100%;
    height: 100%;
}
.profileBlock_details{
     display: flex;
     flex-direction: column;
     width: 100%;
     margin-top: 12px;
}
.profileBlock_detailsName{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}
.profileBlock_detailsAbout{
    color: #ababab;
    font-size: 13px;
}